* {
    margin: 0;
    padding: 0;
}

.divide {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    width: 50%;
    height: 100vh;
    margin: auto;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#switch {
    background-color: #ffabab;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

#switch .tab {
    width: 10rem;
    padding: 0.8rem;
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
}

#switch .tab:hover {
    cursor: pointer;
}

#switch .tab-active {
    background-color: cadetblue;
}

#switch .tab-inactive {
    background-color: burlywood;
}

#timer {
    padding: 2rem;
    height: 4rem;
    border-radius: 100%;
    background-color: brown;
    /* Text */
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-size: 3rem;

    color: #fff;
}

#enter-task-textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#enter-task-textbox label {
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

#enter-task-textbox input {
    padding: 0.5rem;
}

#show-task {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.operation-button {
    padding: 1rem;
    font-family: "Comfortaa", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    background-color: rgb(224, 184, 184);
}

.operation-button:hover {
    cursor: pointer;
}

.active {
    display: block;
}

.inactive {
    display: none;
}